* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: rgb(6, 1, 51);
    color: white;
}
h1 {
    margin: 1rem;
}

